<!DOCTYPE html>
<html>
  <head>
    <title>Jquery</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>JQUERY</h1>
    <p id="p1">Welcome to Jquery</p>
    <button id="btn1">Load</button>
  <table>
    <thead>
      <th>First name</th>
      <th>Last name</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <br/>
    <form>
      <input id="fn" type="text" placeholder="First name" required>
      <input id="ln" type="text" placeholder="Last name" required>
      <button type="submit" id="btn2">Save</button>
    </form>
  </body>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="javascripts/jq/app.js"></script>

</html>
