<!DOCTYPE html>
<html ng-app="ngTutorial">
<head>
    <title>Jquery</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1>Angular</h1>
    <ng-view></ng-view>
</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/angular-route/angular-route.min.js"></script>
<script src="/javascripts/ng/app.js"></script>

</html>
